<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>School Input</title>
</head>
<body>
    <h1>Enter Your School and Faculty</h1>
    <form action="{{ url_for('school_resources') }}" method="post">
        <label for="school">School:</label>
        <input type="text" id="school" name="school" value="University of Waterloo" readonly>
        <br>
        <label for="faculty">Faculty:</label>
        <select id="faculty" name="faculty" required>
                <option value="art">Art</option>
                <option value="math">Mathematics</option>
                <option value="engineering">Engineering</option>
                <option value="env">Environment</option>
                <option value="sci">Science</option>
                <option value="health">Health</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
