<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University of Waterloo Resources</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>University of Waterloo Resources</h1>
    <ul>
        <li><a href="https://uwaterloo.ca/campus-wellness/">Campus Wellness</a></li>
        <li><a href="https://uwaterloo.ca/events/">University Events</a></li>
        <li><a href="https://uwaterloo.ca/career-action/">Career Action</a></li>
        <li><a href="https://uwaterloo.ca/academic-advising/">Academic Advising</a></li>
        <li><a href="https://uwaterloo.ca/student-success/">Student Success Office</a></li>
    </ul>
    <h1>Engineering Faculty Activities</h1>
    <ul>
        <li><a href="https://uwaterloo.ca/engineering/events/night-ballpark">Night at the Ballpark</a></li>
        <li><a href="https://uwaterloo.ca/engineering/events/waterloo-engineering-class-reunion-2025">Waterloo Engineering Class Reunion 2025</a></li>
    </ul>
</body>
</html>
